.header {
    width: 98.2vw;
    height: 6vh;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header__logo {
    width: 10vh;
    object-fit: contain;
    margin: 0 1vw;
    margin-top: 18px;
}

.header__search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 25px;
}

.header__searchInput {
    height: 1.2vh;
    padding: 10px;
    border: none;
    width: 100%; 
}

.header__searchIcon {
    padding:0.48vh;
    height: 2.2vh !important;
    background-color: #cd9042;
}

.header__nav {
    display: flex;
    justify-content: space-evenly;
}

.header__option {
    color:white;
    display: flex;
    flex-direction: column;
    margin-left: 1vw;
    margin-right: 1vw;
}

.header__optionLineOne {
    font-size: 10px;
}

.header__optionLineTwo {
    font-size: 13px;
    font-weight: 800;
}

.header__optionBasket {
    color: white;
    display: flex;
    align-items: center;
}

.header__basketCount {
    margin-left: 1vw;
    margin-right: 1vw;
    
}