.login {
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.login__logo {
    margin-top: 2vh;
    margin-bottom: 2vh;
    object-fit: contain;
    width: 10vh;
    margin-left: auto;
    margin-right: auto;
}

.login__container {
    width: 30vh;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 0.5vh;
    border: 0.1vh solid lightgray;
    padding: 2vh;
}

.login__container > h1 {
    font-weight: 500;
    margin-bottom: 2vh;
}

.login__container > form > h5 {
    margin-bottom: 0.5vh;
}

.login__container  > form > input {
    height: 3vh;
    margin-bottom: 1vh;
    border-radius: 0.5vh;
    background-color: white;
    width: 98%;
}

.login__container > p {
    margin-top: 1.5vh;
    font-size: 1.2vh;
}

.login__signInButton {
    background: #f0c14b;
    border-radius: 0.5vh;
    width: 100%;
    height: 3vh;
    border: 0.1vh solid;
    margin-top: 1vh;
    border-color: #a88734 #9c7e31 #846a29;
}

.login__registerButton {
    border-radius: 0.5vh;
    width: 100%;
    height: 3vh;
    border: 1px solid;
    margin-top: 1vh;
    border-color: darkgray;
}