.order {
    padding: 4vw;
    margin: 2vw 0;
    border: 0.1vh solid lightgray;
    background-color: white;
    position: relative;
}

.order__id {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 4vh;
    right: 2vw;
  }

.order__total {
    font-weight: 500;
    text-align: right;
  }

  @media screen and (max-width: 700px) {
    .order {
      display: flex;
      flex-direction: column;
    }
    .order > h1 {
        font-size: 2vh;
    }
    .order > p {
      font-size: 2vh;
  }
  .order__id {
    position: unset;
    display: flex;
    flex-direction: row;
  }
}